{% extends 'layout.html' %}
{% block content %}
    <div class="container">
        {% if success %}
            <div class="alert alert-success alert-dismissable fade show">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <b>Success!</b> {{ success }}
            </div>
        {% endif %}
        {% if error %}
            <div class="alert alert-danger alert-dismissable fade show">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <b>Error!</b> {{ error }}
            </div>
        {% endif %}
        <form method="POST" action="/changepass" class="col-lg-6" enctype="multipart/form-data">
                <div class="form-group">
                    <h2>Change Password</h2>
                    <input type="password" name="current" class="form-control mb-2" placeholder="Current Password"/>
                    <input type="password" name="new" class="form-control mb-2" placeholder="New Password"/>
                    <input type="password" name="confirm" class="form-control mb-2" placeholder="Confirm Password"/>
                    <button type="submit" class="btn btn-primary">Change Password</button>
                </div>
        </form>
    </div>
{% endblock %}