{% extends 'layout.html' %}
{% block content %}
    <div class="container">

            <div class="card" style="word-wrap: break-word; margin-bottom: 16px; width: 100%;">
                <div class="card-header">Replying to <b>{{ reply_to.poster }}</b> at {{ reply_to.timePosted.strftime('%Y-%m-%d %-H:%M') }}</div>
                <div class="card-body">
                    {{ reply_to.content }}
                </div>
                <div class="card-footer">
                    <form method="POST" action="/reply/{{ reply_to._id }}" class="input-group">
                        <input type="text" name="status" style="margin-right: 16px;" class="form-control" value="@{{ reply_to.poster }} " autofocus onfocus="var temp_value=this.value; this.value=''; this.value=temp_value"/> 
                        <input type="submit" class="btn btn-primary" value="Do Post" />
                    </form>
                </div>
            </div>
    </div>

{% endblock %}
